extends layout

block content
  h1= title
  p Welcome to #{title}
  hr
  p #[Strong Number of Items:] #{item_count}
  p #[Strong Number of Brands:] #{brand_count}
  p #[Strong Number of Categories:] #{category_count}
