extends layout 

block content 

  h1= title
  h3 #{item.brand.name} #{item.model}
  
  div.container
    ul
      li #[strong Category:]
        a(href=item.category.url) #{item.category.name}
      li #[strong Price:] #{item.price_formatted}     
      li #[strong Description:] #{item.description}
      li #[strong Quantity:] #{item.quantity}

    hr
    button.btn.btn-primary Update Brand 
    br
    button.btn.btn-primary Delete Brand


