extends layout 

block content 

  h1= title 

    h3 #{item.brand.name} #{item.model}
    
    p #[strong Are you sure you want to delete this item with #{item.quantity} on hand?]

    form(method='POST')
      div.form-group
        input#item-id.form-control(type="hidden", name="itemid" value=item._id)
      div.form-group
        label(for="password" style='color:red') Admin Password: 
        input#password.form-control(type="password", name="password" style="max-width: 200px")     
      button.btn.btn-primary(type='submit') Confirm 

  if undefined != errors 
    ul
      for error in errors 
        li(style='color:red') #{error.msg} 