extends layout 

block content 

  h1= title
  h3 #{item.brand.name} #{item.model}
  
  div.container
    ul
      li #[strong Category:]
        a(href=item.category.url) #{item.category.name}
      li #[strong Price:] #{item.price_formatted}     
      li #[strong Description:] #{item.description}
      li #[strong Quantity:] #{item.quantity}
      li #[strong Image:]
      img(src=item.image, alt=item.image_alt)
      li #[strong Image Alt Text:] #{item.image_alt}

    hr
    a(href=item.url+'/update') 
      button.btn.btn-primary Update Item
    a(href=item.url+"/delete") 
      button.btn.btn-primary Delete Item


