extends layout 

block content 

  h1= title
  h3 #{item.brand.name} #{item.model}
  
  div.col-sm-4
    table.table.sm
      tr 
        td #[strong Category]
        td 
          a(href=item.category.url) #{item.category.name}
      tr 
        td #[strong Price] 
        td #{item.price_formatted}
      
